
<div class="row quick-action-toolbar">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-header d-block d-md-flex">
          <h5 class="mb-0">Quick Actions</h5>
          {% comment %} <p class="ml-auto mb-0">How are your active users trending overtime?<i class="icon-bulb"></i></p> {% endcomment %}
        </div>
        <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
        {% if request.user.is_superuser %}
        
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <a class="btn px-0" href='{% url "addclients" %}'><i class="icon-user-follow mr-2"></i>Add Client</a>
            {% comment %} <button type="button" class="btn px-0"> <i class="icon-user-follow mr-2"></i> Add Client</button> {% endcomment %}
          </div>
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <a class="btn px-0" href='{% url "addagents" %}'><i class="icon-people mr-2"></i>Add Agent</a>
          </div>
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <a class="btn px-0" href='{% url "fines" %}'><i class="icon-wallet mr-2"></i> View Fines</a>
          </div> 
          
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <a class="btn px-0" href="{% url "agentslocationadminview" %}"><i class="icon-location-pin mr-2"></i>View Agent location</a>
          </div>
          {% elif request.user.agent %}
            <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
              <a class="btn px-0" href="{% url "spots" %}"><i class="icon-location-pin mr-2"></i>View Routes</a>
              {% comment %} <button type="button" class="btn px-0"> <i class="icon-user-follow mr-2"></i> Add Client</button> {% endcomment %}
            </div>
            <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
              <a class="btn px-0" href="{% url "spots" %}"><i class="icon-people mr-2"></i>View Routes</a>
            </div>
            <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
              <a class="btn px-0" href="{% url "addfines" %}"><i class="icon-docs mr-2"></i>Create Fine</a>
            </div> 
            
            <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
              <a class="btn px-0" href="{% url "fines" %}"><i class="icon-wallet mr-2"></i>View Fines</a>
            </div>

            {% elif request.user.client %}
          
           
            <div class="col-sm-6 col-md-4 p-3 text-center btn-wrapper">
              <a class="btn px-0" href=""><i class="icon-people mr-2"></i>View Agents</a>
            </div>
            <div class="col-sm-6 col-md-4 p-3 text-center btn-wrapper">
              <a class="btn px-0" href=""><i class="icon-docs mr-2"></i> View Fines</a>
            </div> 
            
            <div class="col-sm-6 col-md-4 p-3 text-center btn-wrapper">
              <a class="btn px-0" href=""><i class="icon-book-open mr-2"></i>Agent Timings</a>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
